@import "tailwindcss";

.list{
    cursor: pointer;
    position: relative;
    font-weight: 600;
    transition: color .3s ease, transform 300ms ease;
}

.list:hover{
    color: #38bdf8;
    transform: translateY(-2px);
}

.list:after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2.5px;
    bottom: -4px;
    left: 0;
    background-color: #38bdf8;
    transition: width .1s ease-in;
}

.list:hover:after{
    width: 100%;
}

.main{
    background: linear-gradient(135deg, #0d1117, #0a192f, #112240);
}